<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>form</h1>
<form th:action="@{/registration}" th:object="${user}" method="post" enctype="text/plain">
    <div>
        <label>
            username
            <input th:label="usernameLabel" th:field="*{username}"/>
        </label>
        <p th:each="error: ${#fields.hasErrors('username')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>
            email
            <input type="email" th:field="*{email}"/>
        </label>
        <p th:each="error : ${#fields.hasErrors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>
            password
            <input type="password" th:field="*{password}"/>
        </label>
        <p th:each="error : ${#fields.hasErrors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>
            confirm
            <input type="password" th:field="*{matchingPassword}"/>
        </label>
    </div>
    <button type="submit">submit</button>
</form>

<a th:href="@{/templates/login.html}">login</a>
</body>
</html>