<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demousermodule.user.repositories.UserRepository">

    <resultMap id="UserResultMap" type="User">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="dateCreated" column="dateCreated"/>
        <result property="lastLogin" column="lastLogin"/>
    </resultMap>

    <select id="createTable" resultMap="UserResultMap">
        DROP TABLE IF EXISTS users;
        CREATE TABLE users
        (
        id INT PRIMARY KEY,
        username    TEXT,
        password   TEXT,
        email TEXT,
        dateCreated date,
        lastLogin date
        );
    </select>

    <select id="findOne" resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE email = #{email:VARCHAR}
    </select>
    <select id="insert" resultMap="UserResultMap">
        INSERT INTO users
            (id,
             username,
             password,
             email,
             dateCreated,
             lastLogin
             )
        VALUES(
                #{id:INTEGER},
               #{username:VARCHAR},
               #{password:VARCHAR},
               #{email:VARCHAR},
               #{dateCreated:DATE},
               #{lastLogin:DATE}
               )
    </select>
</mapper>